.page {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #000000;
  max-width: 880px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 60px;
  color: #fff;
  position: relative;
}




@media screen and (max-width:410px) {
  .page {
    margin-top: 28px;
    margin-bottom: 36px;
  }
}