.popup__submit {
  width: 100%;
  height: 50px;
  color: white;
  background-repeat: no-repeat;
  background-color: black;
  margin-top: 48px;
  border-radius: 2px;
  border: 0;
  font-size: 18px;
  line-height: 22px;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width:320px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }
}