.profile__description {
  margin: 0;
  padding-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


}

@media screen and (max-width:900px) {

  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width:768px) {

  .profile__description {
    max-width: 636px;
  }
}

@media screen and (max-width:320px) {
  .profile__description {
    width: 232px;
  }
}

@media screen and (max-width:768px) {
  .profile__description {
    margin-right: 56px;
  }
}

@media screen and (max-width:460px) {
  .profile__description {
    width: 85%;
  }
}