.card__delete {
  position: absolute;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/backet.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  right: 20px;
  top: 20px;
}

.card__delete:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card__delete:active {
  /*background-image: url(../../../images/heart_active.svg);*/
}